<div class="main-div">
    <div class="child-div mt-2 mb-1">
        <p>About Us</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card me-5" style="width: 20rem;">
              <img class="card-img-top img-fluid" src="assets/mobiles.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Phones/Mobiles</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                  <p class="card-text">You can purchase all latest mobiles and phones of diifferent brands at affordable price and fully original devices fully tested with 1year warranty.</p>
                </div>
              </div>
        </div>

        <div class="col-md-4">
          <div class="card ms-5" style="width: 20rem;">
            <img class="card-img-top img-fluid" src="assets/laptops.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Laptops</h5>
                <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                <p class="card-text">You can purchase all latest laptops of diifferent brands at affordable price and fully original devices fully tested authentic & genuine products.</p>
              </div>
            </div>
        </div>

        <div class="col-md-4">
          <div class="card ms-5" style="width: 20rem;">
            <img class="card-img-top img-fluid" src="assets/electric.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Eletrical Appliances</h5>
              <h6 class="card-subtitle mb-2 text-muted">Description</h6>
              <p class="card-text">You can purchase all daily household items which runs electrically eg washing machine , refrigerator etc at afforadbale prices.</p>
            </div>
          </div>
        </div>

    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card me-5 mt-3" style="width: 20rem;">
              <img class="card-img-top img-fluid" src="assets/beauty.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Beauty Products</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                  <p class="card-text">You can purchase all brands of cosmetics at affordable price and fully original with pure natural extracts in.</p>
                </div>
              </div>
        </div>

        <div class="col-md-4">
          <div class="card ms-5 mt-3" style="width: 20rem;">
            <img class="card-img-top img-fluid" src="assets/clothes.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Clothes Wearring</h5>
                <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                <p class="card-text">You can purchase wide range of men & women wearing at affordable price and fully original.</p>
              </div>
            </div>
        </div>

        <div class="col-md-4">
          <div class="card ms-5 mt-3" style="width: 20rem;">
            <img class="card-img-top img-fluid" src="assets/ornaments.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ornaments</h5>
              <h6 class="card-subtitle mb-2 text-muted">Description</h6>
              <p class="card-text">You can purchase pure and authenti gold & silver ornaments items  etc at afforadbale prices.</p>
            </div>
          </div>
        </div>

    </div>
</div>