<nav class="navbar navbar-expand-lg navbar-light p-2">
    <p class="text-light ms-3 p-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-truck"
            viewBox="0 0 16 16">
            <path
                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>
        <span class="ms-2" style="font-size: 22px;">E-commerce App</span>
    </p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent" style="display: flex; justify-content: space-between;">
        <div class="nav-links ms-5">
            <ul class="navbar-nav ms-5">
                <li class="nav-item active ms-5">
                    <a class="nav-link text-light ms-5" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/product-details">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/cart">Cart</a>
                        <a class="dropdown-item" href="/payment">Payment</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="btn-div">
            <a class="me-3 login" routerLink="/login">Login</a>
            <a class="signup" routerLink="/sign-up">Signup</a>
        </div>
    </div>
</nav>