<div class="parent-div">
    <div class="child-div mt-5">
        <form [formGroup]="loginForm">
            <div class="form-group mb-3">
              <label class="mb-1" for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
              <span class="text-danger"
              *ngIf="(email?.dirty || email?.touched) && email?.invalid && email?.hasError('required')">
              Email Address is required.
          </span>
          <span class="text-danger"
          *ngIf="(email?.dirty || email?.touched) && email?.invalid && email?.hasError('email')">
          Email Address must be valid.
      </span>
            </div>
            <div class="form-group mb-3">
              <label class="mb-1" for="exampleInputPassword1">Password</label>
              <a (click)="showText()" style="float: right; color: white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>
              </a>
              <input [type]="isShow? 'password': 'text'" class="form-control" formControlName="password" placeholder="Password">
              <span class="text-danger"
              *ngIf="(password?.dirty || password?.touched) && password?.invalid && password?.hasError('required')">
              Password is required.
          </span>
            </div>

            <div class="forget-div" style="border: 1p solid black;">
                <input class="me-2" type="checkbox">
                <label>Remember me</label>
                <a class="text-light" href="#" style="float: right; text-decoration: none;">Forgot Password?</a>
            </div>
            <div class="text-center mt-5">
                <button type="submit" (click)="login()" [disabled]="this.loginForm.invalid" class="btn submit">Submit</button>
            </div>
          </form>
    </div> 
</div>